body {
	background-color: black;
}

p {
	color: green;
	font-size: 18px;
	/*font-family: 'Playball', cursive;
	font-size: 20px;*/
}

h1 {
	color: green;
	font-family: 'Lobster', cursive;
	margin-bottom: 25px;
}

#AboutImg {
	max-width: 100%;
	width: 50%; 
	height: auto;
	display: block;
	
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;

	background-size: cover;
	overflow:hidden;
    border-radius:50%

    margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.top-intro {
	margin-top:50px;
}

.aboutme-detailed {
	margin-top: 4%;
}

.social-media {
	margin-top: 6%;
	display:block;
    text-align:center;
}


img {
  border-radius: 50%;
  transition: all 0.8s ease-in-out 0s;
}

img:hover {
  cursor: default;
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0s;
}